{% extends "admin.html" %} {% block title %}Клиенты{% endblock %} {% block content
%}
<h1 align="center">Клиенты</h1>

<table
  id="myTable"
  class="table table-striped table-hover table-dark table-responsive"
>
  <thead>
    <tr>

      <th data-field="id">ID</th>
      <th data-field="last_name">Фамилия</th>
      <th data-field="first_name">Имя</th>
      <th data-field="middle_name">Отчество</th>
      <th data-field="date_of_birth">Дата рождения</th>
      <th data-field="phone_no">Номер телефона</th>
      <th data-field="address">Адресс</th>
      <th data-field="agent_id">ID Агента</th>
      <th data-field="email">email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>

    {% for item in clients %}
    <tr>
      <td>{{ item.user_id }}</td>
      <td>{{ item.last_name }}</td>
      <td>{{ item.first_name }}</td>
      <td>{{ item.middle_name }}</td>
      <td>{{ item.date_of_birth }}</td>
      <td>{{ item.phone_no }}</td>
      <td>{{ item.address }}</td>
      <td>{{ item.agent_id }}</td>
      <td>{{ item.user.email }}</td>
      <td>
        <a
          href="/client_update/{{ item.user_id }}"
          class="btn btn-outline btn-info"
          data-toggle="modal"
          data-target="#modalEditClients{{ item.user_id }}"
        >Редактировать</a>
        <a
          href="/Admin/client_delete/{{ item.user_id }}"
          class="btn btn-danger btn-xs"
          onclick="return confirm('Вы уверены, что хотите удалить Клиента?')"
        >Удалить</a>
      </td>
    </tr>

    <div
      id="modalEditClients{{item.user_id}}"
      class="modal fade"
      role="dialog"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Редактирование</h4>
          </div>
          <div class="modal-body">
            <form
              action="{{ url_for('admin.update_client') }}"
              method="POST"
            >
              <div class="form-group">
                <label>Фамилия:</label>
                <input
                  type="hidden"
                  name="id"
                  value="{{ item.user_id }}"
                >
                <input
                  type="text"
                  class="form-control"
                  name="last_name"
                  value="{{ item.last_name }}"
                >
              </div>
              <div class="form-group">
                <label>Имя:</label>
                <input
                  type="text"
                  class="form-control"
                  name="first_name"
                  value="{{ item.first_name }}"
                >
              </div>
              <div class="form-group">
                <label>Отчество:</label>
                <input
                  type="text"
                  class="form-control"
                  name="middle_name"
                  value="{{ item.middle_name }}"
                >
              </div>
              <div class="form-group">
                <label>Дата рождения:</label>
                <input
                  type="date"
                  class="form-control"
                  name="date_of_birth"
                  value="{{ item.date_of_birth }}"
                >
              </div>
              <div class="form-group">
                <label>Номер телефона:</label>
                <input
                  type="tel"
                  class="form-control"
                  name="phone_no"
                  value="{{ item.phone_no }}"
                >
              </div>
              <div class="form-group">
                <label>Адрес:</label>
                <input
                  type="text"
                  class="form-control"
                  name="address"
                  value="{{ item.address }}"
                >
              </div>
              <div class="form-group">
                <label>ID агента:</label>
                <input
                  type="number"
                  class="form-control"
                  name="agent_id"
                  value="{{ item.agent_id }}"
                >
              </div>
              <div class="form-group">
                <label>email:</label>
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  value="{{ item.user.email }}"
                >
              </div>
              <div class="form-group">
                <label for="password">Пароль</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  placeholder="Введите новый пароль"
                />
              </div>
              <div class="form-group">
                <button
                  class="btn btn-primary"
                  type="submit"
                >Update</button>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >Close</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
</table>
</div>
</tbody>

<div
  class="container"
  align="center"
>
  <button
    type="button"
    class="btn btn-success float-right"
    data-toggle="modal"
    data-target="#mymodal"
  >Добавить клиента</button>
  <div
    id="mymodal"
    class="modal fade"
    role="dialog"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Добавить клиента</h4>
        </div>
        <div class="modal-body">
          <form method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Введите email"
                value="{{ request.form['email'] }}"
              />
            </div>
            <div class="row">
              <div class="form-group col-xl-4">
                <label for="last_name">Фамилия</label>
                <input
                  type="text"
                  class="form-control"
                  id="last_name"
                  name="last_name"
                  placeholder="Введите фамилию"
                  required="required"
                  value="{{ request.form['last_name'] }}"
                />
              </div>
              <div class="form-group col-xl-4">
                <label for="first_name">Имя</label>
                <input
                  type="text"
                  class="form-control"
                  id="first_name"
                  name="first_name"
                  placeholder="Введите имя"
                  required="required"
                  value="{{ request.form['first_name'] }}"
                />
              </div>
              <div class="form-group col-xl-4">
                <label for="middle_name">Отчество</label>
                <input
                  type="text"
                  class="form-control"
                  id="middle_name"
                  name="middle_name"
                  placeholder="Введите отчество"
                  value="{{ request.form['middle_name'] }}"
                />
              </div>
            </div>
            <div class="form-group">
              <label for="date_of_birth">Дата рождения</label>
              <input
                type="date"
                class="form-control"
                id="date_of_birth"
                name="date_of_birth"
                placeholder="Введите дату рождения"
                required="required"
                value="{{ request.form['date_of_birth'] }}"
              />
            </div>
            <div class="form-group">
              <label for="phone_no">Номер телефона</label>
              <input
                type="tel"
                class="form-control"
                id="phone_no"
                name="phone_no"
                placeholder="Введите Номер телефона"
                required="required"
                value="{{ request.form['phone_no'] }}"
              />
            </div>
            <div class="form-group">
              <label for="address">Адрес</label>
              <input
                type="text"
                class="form-control"
                id="address"
                name="address"
                placeholder="Введите адрес"
                required="required"
                value="{{ request.form['address'] }}"
              />
            </div>
            <div class="form-group">
              <label for="address">ID агента</label>
              <input
                type="number"
                class="form-control"
                id="agent_id"
                name="agent_id"
                placeholder="Введите ID агента"
              />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Введите пароль"
                required="required"
              />
            </div>
            <div align="center">
              <button
                type="submit"
                class="btn btn-primary"
              >Добавить клиента</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}